.h{
    font-size: 22px;
    color: white;
}
.content{
    font-size: 18px;
    color: white;
    line-height: 1.6;
    word-spacing: 1.5px;
}
.referral{
    font-size: 20px;
    color: orange;
    font-weight: bold;
}
