html{
 text-align: center;
 letter-spacing: 1.2px;
 background-color: #222831;
}
#product{
 font-size: 20px;
 color: aqua;
        }
#contact{
 font-size: 18px;
 color: greenyellow;
}
#home{
 font-size: 18px;
 color: wheat;
     }
#header{
 font-size: 20px;
 color: white;
       }
#content{
 padding-left: 20%;
 padding-right: 20%;
 line-height: 1.8;
 text-align: left;
 font-size: 20px;
 
 color: whitesmoke;
        }
a:visited{
 color:white;
         }
a{
text-decoration: none;
color: inherit;
 }
@media (max-width: 768px) {
 #product,#contact,#home,#header,#content {
          font-size: 1em;
          padding: 0.5em;
                                          }
                          }
